{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?11" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/questions.js'%}?7"></script>

{% endblock %} {% block content %}
<div class="fm-container">
  <header class="fm-header">
    <div class="fm-header-top container">
      <div class="fm-header-top-left">
        <a href="{% url 'home' %}" class="fm-header-top-left-logo"><i class="fas fa-list"></i></a>
        <input value="{{form.name}}" class="fm-header-top-left-title" disabled></input>
      </div>
      <div class="fm-header-top-right">
        <a href="{% url 'logout' %}" class="btn btn-light fm-user">{{user.username|first}}</a>
      </div>
    </div>
    <nav class="fm-header-bottom container">
      <a class="fm-header-bottom-btn {% if menu == "edit" %} active{% endif %}" href="{% url 'form_edit' key=form.key %}">질문</a>
      <a class="fm-header-bottom-btn {% if menu == "responses" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key  %}">응답</a>
    </nav>
  </header>
  <div class="fm-form">
    <div class="fm-form-box fs-header">
      <div class="fr-form-header-title">
        <div class="fm-form-header-title">응답 {{responses|length}}개</div>
        <a href="/forms/{{form.key}}/download" class="btn">다운로드</a>
      </div>
      <select name="type" class="fq-select fm-form-select" >
        {% for question in questionsData %}
          <option value="{{forloop.counter}}">{{question.name}}</option>
        {% endfor %}
      </select>
      <nav class="fm-header-bottom container">
        <a class="fm-header-bottom-btn {% if submenu == "summary" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key %}">요약</a>
        <a class="fm-header-bottom-btn {% if submenu == "question" %} active{% endif %}" href="{% url 'form_responses_question' key=form.key  %}">질문</a>
        <a class="fm-header-bottom-btn {% if submenu == "response" %} active{% endif %}" href="{% url 'form_responses_response' key=form.key  %}">개별 보기</a>
      </nav>
    </div>
    {% for question in questionsData %}
      <div id="" class="fq-{{forloop.counter}} fq-box fm-form-box">
        <div>{{question.name}}</div>
        <div>응답{{question.length}}개</div>
      </div>
      {% if question.type == "checkbox" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for answer in question.answer %}
        <div id="" class=" fm-form-box">
          <input name="name" class="fm-form-option" type="checkbox" disabled></input>
          <div>{{answer.name}}</div>
          <div>{{answer.count}}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if question.type == "radio" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for answer in question.answer %}
        <div id="" class="fm-form-box">
          <input class="fm-form-option" type="radio" disabled></input>
          <div>{{answer.name}}</div>
          <div>{{answer.count}}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if question.type == "text" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for answer in question.answer %}
        <div id="" class="fm-form-box">
          <div>{{answer}}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}


    
  </div>
</div>

{% endblock %}
