{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?10" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/questions.js'%}?4"></script>

{% endblock %} {% block content %}
<div class="fm-container">
  <header class="fm-header">
    <div class="fm-header-top container">
      <div class="fm-header-top-left">
        <a href="{% url 'home' %}" class="fm-header-top-left-logo"><i class="fas fa-list"></i></a>
        <input value="{{form.name}}" class="fm-header-top-left-title"></input>
      </div>
      <div class="fm-header-top-right">
        <a href="{% url 'logout' %}" class="btn btn-light fm-user">{{user.username|first}}</a>
      </div>
    </div>
    <nav class="fm-header-bottom container">
      <a class="fm-header-bottom-btn {% if menu == "edit" %} active{% endif %}" href="{% url 'form_edit' key=form.key %}">질문</a>
      <a class="fm-header-bottom-btn {% if menu == "responses" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key  %}">응답</a>
    </nav>
  </header>
  <div class="fm-form">
    <div class="fm-form-box fs-header">
      <div class="fm-form-header-title">응답 {{responses|length}}개</div>
      <select name="type" class="fq-select fm-form-select" >
        {% for summary in summarys %}
          <option value="{{forloop.counter}}">{{summary.question}}</option>
        {% endfor %}
      </select>
      <nav class="fm-header-bottom container">
        <a class="fm-header-bottom-btn {% if submenu == "summary" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key %}">요약</a>
        <a class="fm-header-bottom-btn {% if submenu == "question" %} active{% endif %}" href="{% url 'form_responses_question' key=form.key  %}">질문</a>
        <a class="fm-header-bottom-btn {% if submenu == "response" %} active{% endif %}" href="{% url 'form_responses_response' key=form.key  %}">개별 보기</a>
      </nav>
    </div>
    {% for summary in summarys %}
      <div id="" class="fq-{{forloop.counter}} fq-box fm-form-box">
        <div>{{summary.question}}</div>
        <div>응답{{summary.length}}개</div>
      </div>
      
      {% if summary.type == "checkbox" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for option in summary.options %}
        <div id="" class=" fm-form-box">
          <div>{{option.name}}</div>
        </div>
        {% endfor %}
        <input name="fm-pie-{{forloop.counter}}" type="hidden" value="{{summary.answers|striptags}}" class="fm-pieVal"></input>
      </div>
      {% endif %}
      {% if summary.type == "radio" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for option in summary.options %}
        <div id="" class=" fm-form-box">
          <div>{{option.name}}</div>
        </div>
        {% endfor %}
        <input name="fm-pie-{{forloop.counter}}" type="hidden" value="{{summary.answers|striptags}}" class="fm-pieVal"></input>
      </div>
      {% endif %}
      {% if summary.type == "text" %}
      <div id="" class="fq-{{forloop.counter}} fq-box">
        {% for answer in summary.answers %}
        <div id="" class=" fm-form-box">
          <div>{{answer}}</div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
