{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?8" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/forms.js'%}?"></script>

{% endblock %} {% block content %}
<div class="fm-container">
  <header class="fm-header">
    <div class="fm-header-top container">
      <div class="fm-header-top-left">
        <a href="{% url 'home' %}" class="fm-header-top-left-logo"><i class="fas fa-list"></i></a>
        <input value="{{form.name}}" class="fm-header-top-left-title"></input>
      </div>
      <div class="fm-header-top-right">
        <a href="{% url 'logout' %}" class="btn btn-light fm-user">{{user.username|first}}</a>
      </div>
    </div>
    <nav class="fm-header-bottom container">
      <a class="fm-header-bottom-btn {% if menu == "edit" %} active{% endif %}" href="{% url 'form_edit' key=form.key %}">질문</a>
      <a class="fm-header-bottom-btn {% if menu == "responses" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key  %}">응답</a>
    </nav>
  </header>
  <div class="fm-form">
    <div class="fm-form-box fs-header">
      <div class="fm-form-header-title">응답 {{responses|length}}개</div>
      <nav class="fm-header-bottom container">
        <a class="fm-header-bottom-btn {% if submenu == "summary" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key %}">요약</a>
        <a class="fm-header-bottom-btn {% if submenu == "question" %} active{% endif %}" href="{% url 'form_responses_question' key=form.key  %}">질문</a>
        <a class="fm-header-bottom-btn {% if submenu == "response" %} active{% endif %}" href="{% url 'form_responses_response' key=form.key  %}">개별 보기</a>
      </nav>
      {% comment %} 이곳에 select로 선택할 수있도록 {% endcomment %}
    </div>
    {% for question in form.questions.all %}
    <div class="fm-form-content fm-form-box">
      <div class="fm-form-centent-top">
        <div class="fm-form-input fm-form-centent-top-input">{{question.name}}</div>
        <div class="fm-form-required">{% if question.required == True %}*{% endif %}</div>
      </div>
      <div class="fm-form-centent-middle">
      {% if question.type == "text" %}
        <div class="fm-type-text">
          <textarea name="{{question.id}}" value="{{form.description}}" class="fm-form-input fm-form-textarea autosize" placeholder="내용을 입력하세요" {% if question.required == True %}required{% endif %}></textarea>
        </div>
      {% endif %}
      {% if question.type == "radio" %}
        {% for option in question.options.all %}
        <div class="fm-type-option">
          <input name="{{question.id}}" value="{{option.id}}" class="fm-form-option" id="{{option.id}}" type="radio" {% if question.required == True %}required{% endif %}></input>
          <label class="fm-form-input" for="{{option.id}}">
            {{option.name}}
          </label>
        </div>
        {% endfor %}
      {% endif %}
      {% if question.type == "checkbox" %}
        {% for option in question.options.all %}
        <div class="fm-type-option">
          <input data-id="{{option.id}}" class="form-checkbox fm-form-option" id="{{option.id}}" type="checkbox" ></input>
          <label data-id="{{option.id}}" class="form-checkbox fm-form-input"  for="{{option.id}}">
            {{option.name}}
          </label>
        </div>
        {% endfor %}
        <input name="{{question.id}}" class="fm-form-options" type="text" {% if question.required == True %}required{% endif %}></input>
      {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>

{% endblock %}
