{% extends 'base.html' %} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?9" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/response.js'%}?1"></script>

{% endblock %} {% block content %}
<div class="fm-container">
  <header class="fm-header">
    <div class="fm-header-top container">
      <div class="fm-header-top-left">
        <a href="{% url 'home' %}" class="fm-header-top-left-logo"><i class="fas fa-list"></i></a>
        <input value="{{form.name}}" class="fm-header-top-left-title" disabled></input>
      </div>
      <div class="fm-header-top-right">
        <a href="{% url 'logout' %}" class="btn btn-light fm-user">{{user.username|first}}</a>
      </div>
    </div>
    
    <nav class="fm-header-bottom container">
      <a class="fm-header-bottom-btn {% if menu == "edit" %} active{% endif %}" href="{% url 'form_edit' key=form.key %}">질문</a>
      <a class="fm-header-bottom-btn {% if menu == "responses" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key  %}">응답</a>
    </nav>
  </header>
  <div class="fm-form">
    <div class="fm-form-box fs-header">
      <div class="fm-form-header-title">응답 {{responses|length}}개</div>
      <select name="type" class="fq-select fm-form-select" >
        {% for response in responses %}
          {% if response.name == "" %}
          <option value="fq-{{forloop.counter}}">익명 응답자{{forloop.counter}}</option>
          {% endif %}
          {% if response.name != "" %}
          <option value="fq-{{forloop.counter}}">{{response.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <nav class="fm-header-bottom container">
        <a class="fm-header-bottom-btn {% if submenu == "summary" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key %}">요약</a>
        <a class="fm-header-bottom-btn {% if submenu == "question" %} active{% endif %}" href="{% url 'form_responses_question' key=form.key  %}">질문</a>
        <a class="fm-header-bottom-btn {% if submenu == "response" %} active{% endif %}" href="{% url 'form_responses_response' key=form.key  %}">개별 보기</a>
      </nav>
    </div>
    {% for response in responsesData %}
    <div class="fq-{{forloop.counter}} fq-box">
      {% for question in response %}
      <div class="fm-form-content fm-form-box">
        <div class="fm-form-centent-top">
          <div class="fm-form-input fm-form-centent-top-input">{{question.name}}</div>
          <div class="fm-form-required">{% if question.required == True %}*{% endif %}</div>
        </div>
        <div class="fm-form-centent-middle">
        {% if question.type == "text" %}
          <div class="fm-type-text">
            <textarea class="fm-form-input fm-form-textarea autosize" disabled>{% if question.answer == "" %}응답하지 않음{% else %}{{question.answer}}{% endif %}</textarea>
          </div>
        {% endif %}
        {% if question.type == "radio" %}
          {% for option in question.options.all %}
          <div class="fm-type-option">
            <input class="fm-form-option" type="radio" disabled
            {% if question.answer|floatformat:"0" == option.id|floatformat:"0" %}
            checked
            {% endif %}
            ></input>
            <label class="fm-form-input">
              {{option.name}}
            </label>
          </div>
          {% endfor %}
        {% endif %}
        {% if question.type == "checkbox" %}
          <div>
            응답 순서
          </div>
          {% for order in question.order %}
          <div>
            {{order.name}}
          </div>
          {% endfor %}
          {% for option in question.options.all %}
          <div class="fm-type-option">
            <input class="form-checkbox fm-form-option" type="checkbox" disabled 
            {% if option.id|stringformat:"i" in question.answer %} checked {% endif %}
            ></input>
            <label class="form-checkbox fm-form-input" >
              {{option.name}}
            </label>
          </div>
          {% endfor %}
          
        {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  
</div>

{% endblock %}
