{% extends 'base.html' %}{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?8" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/summary.js'%}?1"></script>

{% endblock %} {% block content %}
<div class="fm-container">
  <header class="fm-header">
    <div class="fm-header-top container">
      <div class="fm-header-top-left">
        <a href="{% url 'home' %}" class="fm-header-top-left-logo"><i class="fas fa-list"></i></a>
        <input value="{{form.name}}" class="fm-header-top-left-title"></input>
      </div>
      <div class="fm-header-top-right">
        <a href="{% url 'logout' %}" class="btn btn-light fm-user">{{user.username|first}}</a>
      </div>
    </div>
    <nav class="fm-header-bottom container">
      <a class="fm-header-bottom-btn {% if menu == "edit" %} active{% endif %}" href="{% url 'form_edit' key=form.key %}">질문</a>
      <a class="fm-header-bottom-btn {% if menu == "responses" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key  %}">응답</a>
    </nav>
  </header>
  <div class="fm-form">
    <div class="fm-form-box fs-header">
      <div class="fm-form-header-title">응답 {{responses|length}}개</div>
      <nav class="fm-header-bottom container">
        <a class="fm-header-bottom-btn {% if submenu == "summary" %} active{% endif %}" href="{% url 'form_responses_summary' key=form.key %}">요약</a>
        <a class="fm-header-bottom-btn {% if submenu == "question" %} active{% endif %}" href="{% url 'form_responses_question' key=form.key  %}">질문</a>
        <a class="fm-header-bottom-btn {% if submenu == "response" %} active{% endif %}" href="{% url 'form_responses_response' key=form.key  %}">개별 보기</a>
      </nav>
    </div>
    {% for summary in summarys %}
      <div class="fm-form-box">
        <div>{{summary.question}}</div>
        <div>응답{{summary.length}}개</div>
        {% if summary.type == "checkbox" %}
        <input name="fm-pie-{{forloop.counter}}" type="hidden" value="{{summary.answers|striptags}}" class="fm-pieVal"></input>
        <canvas id="fm-pie-{{forloop.counter}}"></canvas>
        {% endif %}
        {% if summary.type == "radio" %}
        <input name="fm-pie-{{forloop.counter}}" type="hidden" value="{{summary.answers|striptags}}" class="fm-pieVal"></input>
        <canvas id="fm-pie-{{forloop.counter}}"></canvas>
        {% endif %}
        {% if summary.type == "text" %}
        {% for answer in summary.answers %}
        <div>{{answer}}</div>
        {% endfor %}
        {% endif %}
        
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
