* {
  font-weight: 300;
}

.ah-container {
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.ah-form {
  max-width: 480px;
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ah-title {
  font-weight: 400;
  margin-bottom: 10px;
}
.ah-form > h4 {
  margin-bottom: 20px;
}
.ah-form > input {
  margin-bottom: 15px;
}
.ah-form > button {
  margin-top: 20px;
}

.ah-tools {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.ah-form-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.ah-form-btn {
  padding: 10px;
}

.ah-tools > div {
  padding: 5px;
}

.ah-alert {
  color: red;
  font-size: 0.8rem;
}
