/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

/* initialize */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black !;
  text-decoration: none;
}

button {
  border: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

select:focus {
  outline: none;
}

textarea:disabled,
input:disabled {
  background-color: white;
  color: black;
}

/* common */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
}

.btn {
  background-color: #7248b9;
  color: white !important;
  padding: 10px 10px;
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
}
