/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

/* initialize */
body {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black !;
  text-decoration: none;
}

button {
  border: none;
}

/* common */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: #7248b9;
  color: white !important;
  padding: 5px 10px;
  font-weight: 300;
  border-radius: 5px;
}

/* header */
.bs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.bs-header-left {
  display: flex;
  align-items: center;
}

.bs-header-left > * {
  margin-right: 10px;
}

.bs-header-left-logo {
  background: #7248b9;
  padding: 7px 10px;
  color: white;
  border-radius: 10px;
}

.bs-header-left-title {
  font-size: 1.2rem;
  color: #5f6368;
  font-weight: 400;
}

.bs-header-right {
  display: flex;
  align-items: center;
}
