{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}?59" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/forms.js'%}?3"></script>

{% endblock %} {% block content %}
<div class="fs-container">
  <header class="fs-header container">
    <a href="{% url 'home' %}" class="fs-header-left">
      <div class="fs-header-left-logo"><i class="fas fa-list"></i></div>
      <div class="fs-header-left-title">Fooorms</div>
    </a>
    <div class="fs-header-right">
      <div class="btn-circle">
        <a href="{% url 'logout' %}" class="btn btn-light fs-user">{{user.username|first}}</a>
      </div>
    </div>
  </header>

  <div class="fs-main">
    {% comment %}
    <div class="fs-main-header">
      <div class="fs-header-container container">
        <div class="fs-title">새 양식 시작하기</div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="fs-forms container">
      {% comment %}
      <div class="fs-title">나의 설문 조사</div>
      {% endcomment %}
      <div class="fs-table">
        <div class="fs-table-header">
          <div>제목</div>
          <div>생성일</div>
          <div>수정일</div>
          <div></div>
        </div>
        {% for item in forms %}
        <div class="fs-table-row">
          <a href="{% url 'form_edit' key=item.key %}" class="fs-table-row-title">{{item.name}}</a>
          <a href="{% url 'form_edit' key=item.key %}">{{item.created_at|date:"Y-m-d"}}</a>
          <a href="{% url 'form_edit' key=item.key %}">{{item.updated_at|date:"Y-m-d"}}</a>
          <div class="btn-circle fs-table-menu"><i class="fs-menu fas fa-ellipsis-v"></i></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="fs-add" class="fs-tools"><i class="fas fa-plus"></i></div>
</div>

{% endblock %}
