{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}?3" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/forms.js'%}?"></script>

{% endblock %} {% block content %}
<div class="fs-container">
  <header class="bs-header container">
    <a href="{% url 'home' %}" class="bs-header-left">
      <div class="bs-header-left-logo"><i class="fas fa-list"></i></div>
      <div class="bs-header-left-title">Fooorms</div>
    </a>
    <div class="bs-header-right">
      <a href="{% url 'logout' %}" class="btn btn-light bs-user">{{user.username|first}}</a>
    </div>
  </header>

  <div class="fs-main">
    {% comment %}
    <div class="fs-header">
      <div class="fs-header-container container">
        <div class="fs-title">새 양식 시작하기</div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="fs-forms container">
      <div class="fs-title">나의 설문 조사</div>
      <div class="fs-table">
        <div class="fs-table-header">
          <img src="" />
          <div></div>
        </div>
        {% for item in forms %}
        <div class="fs-table-row">
          <img src="" />
          <div>{{item}}</div>
        </div>
        {% endfor %}
      </div>
      <div id="fs-add" class="fs-tools"><i class="fas fa-plus"></i></div>
    </div>
  </div>
</div>

{% endblock %}
