{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}?141" />
{% endblock %} {% block script %}
<script src="{% static 'javascript/form_view.js'%}?15"></script>

{% endblock %} {% block content %}
<div class="fm-container">
    <form class="fm-form" method="POST" action="{% url 'api_form_id' form.key %}" autocomplete="off">
      {% csrf_token %}
      <div class="fm-form-header fm-form-box">
        <div class=" fm-form-input fm-form-header-title" >{{form.title}}</div>
        <div class=" fm-form-input fm-form-textarea" >{{form.description}}</div>
      </div>
      {% for question in form.questions.all %}
      <div class="fm-form-content fm-form-box">
        <div class="fm-form-centent-top">
          <div class="fm-form-input fm-form-centent-top-input">{{question.name}}</div>
          <div class="fm-form-required">{% if question.required == True %}*{% endif %}</div>
        </div>
        <div class="fm-form-centent-middle">
        {% if question.type == "text" %}
          <div class="fm-type-text">
            <textarea name="{{question.id}}" value="{{form.description}}" class="fm-form-input fm-form-textarea autosize" placeholder="내용을 입력하세요" {% if question.required == True %}required{% endif %}></textarea>
          </div>
        {% endif %}
        {% if question.type == "radio" %}
          {% for option in question.options.all %}
          <div class="fm-type-option">
            <input name="{{question.id}}" value="{{option.id}}" class="fm-form-option" id="{{option.id}}" type="radio" {% if question.required == True %}required{% endif %}></input>
            <label class="fm-form-input" for="{{option.id}}">
              {{option.name}}
            </label>
          </div>
          {% endfor %}
        {% endif %}
        {% if question.type == "checkbox" %}
          {% for option in question.options.all %}
          <div class="fm-type-option">
            <input data-id="{{option.id}}" class="form-checkbox fm-form-option" id="{{option.id}}" type="checkbox" ></input>
            <label data-id="{{option.id}}" class="form-checkbox fm-form-input"  for="{{option.id}}">
              {{option.name}}
            </label>
          </div>
          {% endfor %}
          <input name="{{question.id}}" class="fm-form-options" type="text" {% if question.required == True %}required{% endif %}></input>
        {% endif %}
        </div>
      </div>
      {% endfor %}
      <button class="btn">제출</button>
    </form>
</div>

{% endblock %}
